[submodule "lib/cpputil"]
	path = lib/cpputil
	url = https://github.com/4ms/cpputil
[submodule "lib/patch-serial"]
	path = lib/patch-serial
	url = https://github.com/4ms/metamodule-patch-serial
[submodule "lib/CoreModules"]
	path = lib/CoreModules
	url = https://github.com/4ms/metamodule-core-modules
[submodule "lib/flatbuffers"]
	path = lib/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "lib/metamodule-plugin-sdk"]
	path = lib/metamodule-plugin-sdk
	url = https://github.com/4ms/metamodule-plugin-sdk
