[submodule "lib/4ms-CoreModules/core/alpaca"]
	path = lib/4ms-CoreModules/core/alpaca
	url = https://github.com/4ms/alpaca
[submodule "lib/cpputil"]
	path = lib/cpputil
	url = https://github.com/4ms/cpputil
