[submodule "lib/cpputil"]
	path = lib/cpputil
	url = https://github.com/4ms/cpputil
[submodule "lib/patch-serial"]
	path = lib/patch-serial
	url = git@github.com:4ms/metamodule-patch-serial
[submodule "lib/metamodule-core-interface"]
	path = lib/metamodule-core-interface
	url = https://github.com/4ms/metamodule-core-interface